<h1>Contact Us</h1>
<div class="row">
  <div class="col-md-6">

    <div class="form-group">
      <label for="email">Your email address*:</label>
      {{input type="email"
              id="email"
              value=emailAddress
              class="form-control"
              placeholder="Please type your e-mail address."
              autofocus="autofocus"}}
    </div>

    <div class="form-group">
      <label for="message">Type in your message*:</label>
      {{textarea value=message
                 cols="cols"
                 class="form-control"
                 placeholder="Your message. (At least 5 characters.)"
                 rows="7" }}

    </div>

    <button type="button"
            disabled={{unless isValid 'disabled'}}
            class="btn btn-success"
            {{action 'sendMessage'}}>
            Send Message
    </button>

  </div>

  <div class="col-md-6">
    {{#if responseMessage}}
      <div class="alert alert-success">
        <h4>Thank you! Your message is sent.</h4>
        <p>
          {{responseMessage}}
        </p>

      </div>
    {{/if}}
  </div>

</div>
